

:root{
   --clr-dark: #111729; 
   --clr-light: #F2F9FE; 
}



body {
    font-family: Poppins, sans-serif;
    background-color: var(--clr-light);
    transition: .5s;
  }


  .dark-mode{
    --clr-dark: #F2F9FE; 
    --clr-light: #111729; 
  }

  h1 {
    font-size: 3.5rem;
    color: var(--clr-dark);
  }

  h5{
    color: var(--clr-dark);
  }

  .btn {
    background-color: #2A4DD0;
    color: white;
  }

  .sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-list li a {
    text-decoration: none;
    color: var(--clr-dark); 
    font-size: 40px;
    font-weight: 500;
  }

  .nav-link{
    color: var(--clr-dark);
  }

  .toggler-desktop,
  .toggler-mobile {
    background-color: #223344;;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
  }


  .sun,
  .moon {
    background-color: #F2F9FE;
    border-radius: 50%;
    user-select: none;
  }